{% extends "base/index.html" %}
{% block body_block %}


{% if user.is_authenticated %}

<h1>Welcome {{ user | capfirst }}</h1>

	<div class="grid_container">

	{% if page_obj.object_list %}

		{% for acc in page_obj.object_list %}
		<div class="grid_info">
			{% if acc.image %}
			<div class="grid_info_top" style="background-image: url( /media/{{ acc.image }} );">
			</div>
			<div class="grid_info_bottom">
			</div>
			{% else %}
			<div class="grid_info_top" style="background-image: url( /media/covers/blank.jpg );">
			</div>
			<div class="grid_info_bottom">
			</div>
			{% endif %}

		</div>
		{% endfor %}

	{% else %}
	<p class="test_p">
		NO ACCESS RECORDS FOUND
	</p>
	{% endif %}

	</div>

{% else %}
<h1>Empty :(</h1>
<br>
<h1>
<a href="{% url 'login' %}">Log in</a> 
or <a href="{% url 'join' %}">Join</a>
</h1>
{% endif %}

{% endblock %}