{% extends "base/index.html" %}
{% block body_block %}


<h1>Collection</h1>


<div class="grid_container">

{% if bookadmin %}

	{% for acc in bookadmin %}
<!-- 		{% if forloop.last %}
		    <div 
		        hx-trigger="revealed"
		        hx-get="{% url 'collection:list' %}?page={{ page_obj.number|add:1 }}"
		        hx-swap="afterend"
		    >
		{% else %}
			<div>
		{% endif %} -->
	<div class="grid_info">
		{% if acc.image %}
			<div class="grid_info_top" style="background-image: url( /media/{{ acc.image }} );">
				<!-- <img class="grid_blank" src="/media/{{ acc.image }}" alt="{{ acc.image }}"> -->
			</div>
			<div class="grid_info_bottom">
			</div>
		{% else %}
			<div class="grid_info_top" style="background-image: url( /media/covers/blank.jpg );">
				<!-- <img class="grid_blank" src="/media/covers/blank.jpg"> -->
			</div>
			<div class="grid_info_bottom">
			</div>
		{% endif %}
	</div>
	{% endfor %}


</div>

{% include 'paginate.html' %} 



{% else %}
<p class="test_p">
	NO ACCESS RECORDS FOUND
</p>
{% endif %}

{% endblock %}