{% extends "profile/base.html" %}
{% load static %}



{% block content %}

<div>





<h1>{{ acc.id }}</h1>
<h1>{{ acc.title }}</h1>
<h1>{{ acc.author }}</h1>
<h1>{{ acc.year }}</h1>
<h1>{{ acc.publisher }}</h1>
<h1>{{ acc.artist }}</h1>
<h1>{{ acc.quality }}</h1>
<h1>{{ acc.price }}</h1>
<h1>{{ acc.location }}</h1>
<h1>{{ acc.genre }}</h1>
<h1>{{ acc.weight }}</h1>
<h1>{{ acc.pages }}</h1>
<h1>{{ acc.isbn }}</h1>
<h1>{{ acc.description }}</h1>
<h1>{{ acc.notes }}</h1>
<h1>{{ acc.user }}</h1>



</div>

{% endblock %}