{% extends "base/index.html" %}
{% block body_block %}

{% if user.is_authenticated %}
<h1>Action: {{ injectme }}</h1>
<div class="forms">
<form method="POST" enctype="multipart/form-data">
	{{form}}
	{% csrf_token %}
	<input type="submit" class="btn" value="Submit">
	<div class="cancel"><a href="{% url 'collection:list' %}">Cancel</a></div>
	<div class="cancel"><a href="{% url 'collection:delete' %}">Delete</a></div>
<!-- 	<input type="submit" class="btn" value="Delete"> -->
</form>
</div>
{% else %}
<h1>No Access</h1>
{% endif %}
{% endblock %}
